= govuk_notification_banner(title_text: title,
    classes: classes,
    html_attributes: { role: role,
                      'data-controller': 'notification-banner' },
  ) do |notification_banner|
  - notification_banner.heading(text: heading)
  = body
