$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";

h1 {
  @extend .govuk-heading-l;
}

h2 {
  @extend .govuk-heading-m;
}

h3,
h4,
h5,
h6 {
  @extend .govuk-heading-s;
}

ul {
  @extend .govuk-list;
}

ol {
  @extend .govuk-list;
  @extend .govuk-list--number;
}

.app-disabled-link {
  color: $govuk-secondary-text-colour !important;
}

input[disabled] {
  border-color: $govuk-border-colour;
}
