$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";

h1 {
  @extend .govuk-heading-l;
}

.govuk-panel--confirmation h1 {
  color: govuk-colour("white");
}

h2 {
  @extend .govuk-heading-m;
}

h3,
h4,
h5,
h6 {
  @extend .govuk-heading-s;
}

ul {
  @extend .govuk-list;
}

ol {
  @extend .govuk-list;
  @extend .govuk-list--number;
}

.app-disabled-link {
  color: $govuk-secondary-text-colour !important;
}

input[disabled] {
  border-color: $govuk-border-colour;
}

.app-header__navigation {
  float: right;
  margin-bottom: 0;

  &-item {
    color: govuk-colour("white");
    font-size: 1rem;
  }
}

.app-button-link {
  background: none;
  border: none;
  color: govuk-colour("white");
  cursor: pointer;
  font-family: $govuk-font-family-gds-transport;
  font-size: $govuk-root-font-size;
  font-weight: bold;
  line-height: 1.25;

  &:hover {
    text-decoration-skip-ink: none;
    text-decoration-thickness: $govuk-link-hover-underline-thickness;
    text-decoration-line: underline;
    text-underline-offset: 0.1em;
  }
}
